<h1>Recipes for <%= @keyword %></h1>

<table border = '1'>
  <tr>
    <th>Picture</th>
    <th>Title</th>
    <th>Ingredients</th>
  </tr>
  <% @recipe_list.each do |recipe| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= recipe["href"] %></td>
      <td><%= link_to recipe["title"], recipe["href"], class: "special_link" %></td>
      <td><%= recipe["ingredients"] %></td>
    </tr>
  <%end%>
</table>